{% extends "layout.html" %}
{% block title %}Requests{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Requests</h1>
    <table id="table" class="table table-hover display">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">State</th>
            <th scope="col">Variety</th>
            <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr class="clickable" data-href=request/{{ request['id'] }}>
            <th scope="col"> {{ request['id'] }} </th>
            <td>{{ request['state'] }}</td>
            <td>{{ request['extra']['variety'] }}</td>
            <td>{{ request['extra']['quantity'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
